*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    background: linear-gradient(
        to right,
        rgb(128, 123, 123) 0%,
        rgba(105, 112, 111, 0.397) 15%,
        rgb(190, 150, 126) 20%,
        rgb(190, 150, 126) 80%,
        rgb(165, 194, 191) 85%,
        rgb(94, 182, 173) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    font-size: 5rem;
}
h1{
    font-size: 2rem;
    position: absolute;
    top: 10%;
    left: 25%;
}
p1{
    font-size: 1.5rem;
    max-width: 1000px;
    position: absolute;
    top: 18%;
    left: 25%;
}

h2{
    font-size: 1.5rem;
    position: absolute;
    top: 30%;
    left: 25%;
}
p2{
    font-size: 1.5rem;
    max-width: 1000px;
    position: absolute;
    top: 38%;
    left: 25%;
}
h3{
    font-size: 1.5rem;
    position: absolute;
    top: 60%;
    left: 25%;
}
p3{
    font-size: 1.5rem;
    max-width: 1000px;
    position: absolute;
    top: 68%;
    left: 25%;
}