* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    position: absolute;
    font-size: 5rem;
    color: white;
    width: 60%;
    min-height: 90%;
    border: 0;
    border-radius: 25px;
    background-color: rgb(20, 20, 20, 0.7);
    box-shadow: 5px 5px 2px rgb(44, 41, 41);
    padding: 10px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;

}

h1 {
    font-size: 1.4rem;
    position:  relative;
}

#p1 {
    display: inline-block;
    max-width:max-content;
    font-size: 1.2rem;
    position:  relative;
    color: rgb(161, 160, 160);
}

h2 {
    font-size: 1.4rem;
    position:  relative;
}

#p2 {
    display: inline-block;
    max-width:max-content;
    font-size: 1.2rem;
    position: relative;
    color: rgb(161, 160, 160);
}

h3 {
    font-size: 1.4rem;
    position:  relative;
}

#p3 {
    display: inline-block;
    font-size: 1.2rem;
    max-width:max-content;
    position:  relative;
    color: rgb(161, 160, 160);
}

#ul1 {
    display: inline-block;
    position: relative;
    left:2%;
    font-size: 1.5rem;
    color: rgb(161, 160, 160);
}
#p4 {
    display: inline-block;
    font-size: 1.5rem;
    max-width:max-content;
    position:  relative;
    color: rgb(161, 160, 160);
}
/* 
.list {
    display: inline-block;
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    color: rgb(161, 160, 160);
} */


.green {
    background-color: transparent;
    color: rgb(69, 155, 120);
}

.red {
    background-color: transparent;
    color: rgb(216, 48, 48);
}

.bold {
    background-color: transparent;
    color: rgb(69, 142, 155);
    font-weight: 600;
}
