* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background: linear-gradient(to right,
            rgb(104, 98, 98) 0%,
            rgba(105, 112, 111, 0.397) 50%,
            rgb(165, 194, 191) 50%,
            rgb(90, 156, 150) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
}

/* .container{
    height: 100%;
    display:flex ; 
    align-items: center;
    justify-content: center;
} */
/* .buttons {
    display: flex;
} */
.btn {
    text-decoration: none;
    padding: 20px 50px;
    font-size: 1.25rem;
    border-radius: 30px;
    border: 2px solid rgb(107, 104, 104);
    color: black;
    bottom: 30%;
    transition: 0.4s;

}


.btn-1 {
    position: absolute;
    left: 25%;
    transform: translate(-50%);
    background-color: rgb(109, 160, 154);

}

.btn-1:hover {
    background-color: rgb(135, 184, 178);
    color: white;
    cursor: pointer;
    border: 2px solid white;
}

.btn-2 {
    position: absolute;
    right: 25%;
    transform: translate(50%);
    background-color: rgb(152, 160, 158);
}

.btn-2:hover {
    background-color: rgb(173, 186, 183);
    color: white;
    cursor: pointer;
    border: 2px solid white;
}


h1 {
    position: absolute;
    left: 25%;
    transform: translate(-50%);
    font-size: 35px;
}

h2 {
    position: absolute;
    right: 25%;
    transform: translate(50%);
    font-size: 35px;
}

#value {
    font-size: 30px;
    color: green;
    margin: 20px;

}